@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */
@import url('https://blogfonts.com/css/aWQ9NTU2JnN1Yj01NTYmYz1sJnR0Zj1saWJyYS1zZXJpZi1tb2Rlcm4ucmVndWxhci5vdGYmbj1saWJyYS1zZXJpZi1tb2Rlcm4tcmVndWxhcg/Libra Serif Modern Regular.otf" rel="stylesheet');
/* font-family: 'libra-serif-modern-regular', sans-serif; */


*{
    margin: 0px;
    padding: 0px;
}


main{
    height: 723px;
    /* https://app.haikei.app/ */
}

.main-fondo-cover{
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;
}
.main-fondo{
    width: 100%;
    position: fixed;
    top: 200px;
    z-index: 1;
}

.main-fondo-1{
    width: 100%;
    position: fixed;
    top: 320px;
    z-index: -1;
}

.inicio{
    display: flex;
    justify-content: space-between;
    height: 607px;
}

.inicio-logotipo{
    text-align:  center;
}

.inicio-img-LEIM{
    width: 200px;
}

.inicio-titulo-colegio{
    color: white;
    font-family: 'libra-serif-modern-regular'; 
    font-size: x-large;
    margin-left: 40px;
    margin-bottom: 50px;
    text-align: center;
} 

.inicio-login{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 95px 0px 0px 100px;
    text-align: left;
    z-index: 99;
}


.inicio-login label{
    font-family: 'Questrial', sans-serif;
    color: white;
    padding: 2px;
    font-size: medium;
    margin-left: 90px;
}

.inicio-login input{
    width: 350px;
    margin: 0px 0px 20px 90px;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}

.inicio-logicaInicio{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 50px;
}

.btn-login{
    padding: 5px;
    width: 100px;
    border-radius: 8px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    margin-left: 160px;
    background-color: aquamarine;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}

.inicio-olv-password{
    display: inline-block;
    color: white;
    font-family: 'Questrial', sans-serif;
    padding: 10px;
    margin-left: 119px;
}

.inicio-imgHome{
    height: 340px;
    position: absolute;
    z-index: 3;
    right: 240px;
    top: 200px;
}

.inicio-robot{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
}

.inicio-mancha{
    position: fixed;
    top: 0px;
    right: 50px;
    width: 40%;
    z-index: 1;
    transform: rotate(90deg);
}

.inicio-mancha-fondo{
    position: fixed;
    top: 305px;
    right: 0px;
    width: 100%;
    z-index: -99;
    transform: rotateX(180deg);
}

/*INICIO - OLVIDE CONTRASEÑA*/

.nav{
    flex-wrap: wrap;
    background-color: #022E40;
    height: 50px;
    gap: 20px;
}

.nav-logo{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.nav-titulo-colegio{
    color: white;
    font-family: 'libra-serif-modern-regular'; 
    font-size: x-large;
    margin-top: 10px;
}

.olv-password{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.olv-card{
    background-color: #4DA1A4;
    width: 500px;
    height: 550px;
    border-radius: 50px;
    
}