@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */
@import url('https://blogfonts.com/css/aWQ9NTU2JnN1Yj01NTYmYz1sJnR0Zj1saWJyYS1zZXJpZi1tb2Rlcm4ucmVndWxhci5vdGYmbj1saWJyYS1zZXJpZi1tb2Rlcm4tcmVndWxhcg/Libra Serif Modern Regular.otf" rel="stylesheet');
/* font-family: 'libra-serif-modern-regular', sans-serif; */


* {
    margin: 0px;
    padding: 0px;
}


main {
    height: 723px;
    /* https://app.haikei.app/ */
}

.main-fondo-cover {
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;
}

.main-fondo {
    width: 100%;
    position: fixed;
    top: 200px;
    z-index: 1;
}

.main-fondo-1 {
    width: 100%;
    position: fixed;
    top: 320px;
    z-index: -1;
}

.inicio {
    display: flex;
    justify-content: space-between;
    height: 607px;
}

.inicio-logotipo {
    text-align: center;
}

.inicio-img-LEIM {
    width: 200px;
}

.inicio-titulo-colegio {
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-left: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.inicio-login {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 95px 0px 0px 100px;
    text-align: left;
    z-index: 99;
}


.inicio-login label {
    font-family: 'Questrial', sans-serif;
    color: white;
    padding: 2px;
    font-size: medium;
    margin-left: 90px;
}

.inicio-login input {
    width: 350px;
    margin: 0px 0px 20px 90px;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}

.inicio-logicaInicio {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 50px;
}

.btn-login {
    padding: 5px;
    width: 100px;
    border-radius: 8px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    margin-left: 160px;
    background-color: aquamarine;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.inicio-olv-password {
    display: inline-block;
    color: white;
    font-family: 'Questrial', sans-serif;
    padding: 10px;
    margin-left: 119px;
}

.inicio-imgHome {
    height: 340px;
    position: absolute;
    z-index: 3;
    right: 240px;
    top: 200px;
}

.inicio-robot {
    position: fixed;
    z-index: 99;
    right: 30px;
    bottom: 30px;
    width: 60px;
}

.inicio-mancha {
    position: fixed;
    top: 0px;
    right: 50px;
    width: 40%;
    z-index: 1;
    transform: rotate(90deg);
}

.inicio-mancha-fondo {
    position: fixed;
    top: 305px;
    right: 0px;
    width: 100%;
    z-index: -99;
    transform: rotateX(180deg);
}

/*INICIO - OLVIDE CONTRASEÑA*/

.nav {
    flex-wrap: wrap;
    background-color: #022E40;
    height: 50px;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.nav-titulo-colegio {
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-top: 10px;
}

.olv-password {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.olv-card {
    background-color: #4DA1A4;
    width: 500px;
    height: 550px;
    border-radius: 50px;

}

/*OLV-PASS - HOME*/

.nav-home {
    display: flex;
    justify-content: space-between;
    background-color: #022E40;
    height: 50px;
    gap: 15px;
}

.nav-logotipo {
    display: flex;
    width: 50%;
}

.nav-titulo-colegio {
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-left: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.home-Familia {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 10px 10px 0px 0px;
}

.home-Familia h2 {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: medium;
    margin-top: 6px;
}

.nav-user {
    width: 30px;
    height: 30px;

}

.nav-burger img {
    width: 30px;
}


.home {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    height: 673px;
}

.home-mancha {
    position: fixed;
    z-index: 2;
    left: 0px;
    width: 900px;
}



.home-tramites {
    flex-direction: column;
    text-align: center;
    z-index: 3;
    margin-top: 100px;
}

.home-tramites img {
    width: 300px;
    height: 270px;
    margin-bottom: 20px;
}

.home-tramites a {
    display: block;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 20px;
}



.home-area-padre {
    flex-direction: column;
    text-align: center;
    z-index: 1;
    margin-top: 100px;
}


.home-area-padre img {
    width: 300px;
    height: 270px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.home-area-padre a {
    display: block;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px;
    background-color: #4DA1A4;
    border-radius: 20px;
}

.fixed-btn {
    position: fixed;
    z-index: 99;
    right: -95px;
    bottom: 100px;
    background-color: #022E40;
    font-family: 'Questrial', sans-serif;
    font-size: medium;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 20px;
    width: 150px;
}

.fixed-btn img {
    width: 30px;
    height: 30px;
}

.footer-img {
    position: fixed;
    z-index: 4;
    bottom: -430px;
    left: -100px;
    height: 500px;
}

.footer-img-1 {
    position: fixed;
    z-index: 3;
    bottom: -380px;
    left: 0px;
    width: 1500px;
    height: 500px;
}

.footer-img-2 {
    position: fixed;
    z-index: 3;
    bottom: -770px;
    right: -1920px;
    width: 2500px;
    height: 1000px;
}

.footer-texto {
    position: fixed;
    z-index: 5;
    bottom: 0px;
    left: 35%;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: small;
    color: white;
}

/*Home - Calendario*/

.migas-de-pan {
    margin-left: 150px;
    font-family: 'Questrial', sans-serif;
    font-size: medium;
}

.Cronograma-titulos {
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    margin: 0px 0px 20px 360px;
}

.Cronograma-titulos h1 {
    color: white;
    font-family: 'Questrial', sans-serif;
}

.main-area-padre {
    background-color: #4DA1A4;
    height: 1000px;
}

.contenedor-calendario {
    text-align: center;
}

.calendario{
   border-radius: 10px;
}